i.icon,
i.led,
label input[type=checkbox]+i,
label input[type=radio]+i {
	background-image: url(/static/img/icons.png);
	width: 20px;
	height: 20px;
	display: inline-block;
}

.icon i.icon {
	position: absolute;
	right: .5em;
	top: 50%;
	transform: translateY(-50%);
}

.at-right, .at-left {
	display: block;
}

i.icon {
	background-position-y: -40px;
}

i.led {
	background-position-y: -120px;
}

@media screen and (orientation: portrait), screen and (max-width: 767px) {
	.icon:not(button .icon) {
		margin: .25em;
		margin-top: .25em !important;
	}
}

.at-right {
	float: right;
	margin-left: .5em;
}

.at-left {
	float: left;
	margin-right: .5em;
}

.i-fav {
	background-position-x: 0;
}

.i-burn {
	background-position-x: -20px;
}

.i-warn {
	background-position-x: -40px;
}

.i-comm {
	background-position-x: -60px;
}

.i-sys {
	background-position-x: -80px;
}

.i-ok {
	background-position-x: -100px;
}

.i-cancel {
	background-position-x: -120px;
}

.i-login {
	background-position-x: -140px;
}

.i-user {
	background-position-x: -160px;
}

.i-context-help {
	background-position-x: -180px;
}

.i-logout {
	background-position-x: -200px;
}

.i-pen {
	background-position-x: -220px;
}

.i-gear {
	background-position-x: -240px;
}

.i-disk {
	background-position-x: -260px;
}

.i-back {
	background-position-x: -280px;
}

.i-lock {
	background-position-x: -300px;
}

.i-plus {
	background-position-x: -320px;
}

.i-trash {
	background-position-x: -340px;
}

.i-down {
	background-position-x: -360px;
}

.i-up {
	background-position-x: -380px;
}

.i-left {
	background-position-x: -400px;
}

.i-right {
	background-position-x: -420px;
}

.i-play {
	background-position-x: -440px;
}

.i-stop {
	background-position-x: -460px;
}

.i-pause {
	background-position-x: -480px;
}

.i-refresh {
	background-position-x: -500px;
}

.i-nofav {
	background-position-x: -520px;
}

.i-media {
	background-position-x: -540px;
}

.i-stat {
	background-position-x: -560px;
}

.i-filter {
	background-position-x: -580px;
}

.i-circle {
	background-position-x: -600px;
}

.i-rec {
	background-position-x: -620px;
}

/* leds */
.led.red {
	background-position-x: 0;
}

.led.yellow {
	background-position-x: -20px;
}

.led.green {
	background-position-x: -20px;
}

.led.blue {
	background-position-x: -40px;
}

.led.white {
	background-position-x: -60px;
}

.led.black {
	background-position-x: -80px;
}

label input[type=checkbox]+i,
label input[type=radio]+i {
    background-position-x: 0;
}

input[type=checkbox]+i {
    background-position-y: 0;
}

input[type=radio]+i {
    background-position-y: -20px;
}

label input[type=checkbox]:hover+i,
label input[type=radio]:hover+i,
label input[type=checkbox]:focus+i,
label input[type=radio]:focus+i {
    background-position-x: -20px;
}

label input[type=checkbox]:checked+i,
label input[type=radio]:checked+i {
    background-position-x: -40px;
}

label input[type=checkbox]:checked:hover+i,
label input[type=radio]:checked:hover+i,
label input[type=checkbox]:checked:focus+i,
label input[type=radio]:checked:focus+i {
    background-position-x: -60px;
}

label input[type=checkbox]:active+i, label input[type=checkbox]:checked:active+i,
label input[type=radio]:active+i, label input[type=radio]:checked:active+i {
    background-position-x: -80px;
}

label input[type=checkbox]:disabled+i,
label input[type=radio]:disabled+i {
    opacity: .5;
}

select {
    background-color: var(--ui-bg);
    background-image: url(/static/img/down_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
}