:root {
    --contrast-bg: #2F2E2D;
    --contrast-font: #FFF;
    --main-bg: #F8F8F8;
    --main-font: #333;
    --ui-bg: #FFF;
    --shaded: #D8D8D8;
    --half-light: rgba(255, 255, 255, .5);
    --half-dark: rgba(0, 0, 0, .5);
    --hghlt: hsl(190, 50%, 30%);
}

* {
    background-clip: padding-box;
}

body {
    background: var(--main-bg);
    color: var(--main-font);
}

aside {
    background: var(--contrast-bg);
    color: var(--contrast-font);
}

a, .pseudo-link {
    color: var(--hghlt);
}

input,
textarea,
select,
button,
.window,
.ui-select ul,
.datepicker,
.picker-popup {
    border-radius: 2px;
}

.like-button {
    border-radius: 1000px;
}

.ui-select input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-select input+ul {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

input,
textarea,
.table-container,
.datepicker,
.picker-popup {
    background: var(--ui-bg);
    color: var(--main-font);
}

.tag input {
    background: transparent;
    color: var(--contrast-font);
}

.error {
    box-shadow: 0 0 1.5px 1px red;
}

.errortext {
    color: red;
}

button {
    background: var(--contrast-bg);
    color: var(--contrast-font);
    border-bottom: 3px solid var(--half-light);
    border-top: 3px solid transparent;
    text-shadow: 1px 1px 0 var(--half-dark);
    box-shadow: 1px 1px 3px var(--half-dark);
}

button:hover,
button:focus {
    background: var(--hghlt);
}

button:active {
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--half-dark);
    text-shadow: -1px -1px 0 var(--half-dark);
    box-shadow: 0 0 3px var(--half-dark) inset;
}

button.red {
    background: hsl(0, 33%, 30%);
}

button.green {
    background: hsl(120, 33%, 30%); 
}

button.yellow {
    background: hsl(50, 33%, 30%);
}

button.blue {
    background: hsl(240, 33%, 30%);
}

button.red:hover, button.red:focus {
    background: hsl(0, 33%, 35%);
}

button.green:hover, button.green:focus {
    background: hsl(120, 33%, 35%);
}

button.yellow:hover, button.yellow:focus {
    background: hsl(50, 33%, 35%);
}

button.blue:hover, button.blue:focus {
    background: hsl(240, 33%, 35%);
}

button:disabled {
    background: var(--shaded);
}

input:not([type=checkbox]):not([type=radio]),
select,
textarea,
.ui-select ul,
.ui-select ul>li,
.table-container,
td,
.datepicker {
    border-color: var(--shaded);
}

label input:disabled ~ * {
    color: var(--shaded);
}

input:not([type=checkbox]):not([type=radio]):disabled,
select:disabled,
textarea:disabled,
.datepicker[disabled] {
    background: var(--main-bg);
}

th>div {
    background: var(--contrast-bg);
    color: var(--contrast-font);
}

tr:nth-child(even) {
    background: var(--main-bg);
}

tbody tr:hover {
    background: var(--shaded);
}

th>div:hover {
    background: var(--hghlt);
}

input:not([type=checkbox]):not([type=radio]):focus,
select:focus,
textarea:focus,
.picker-popup {
    border-color: var(--hghlt);
}

.ui-select ul {
    background: var(--main-bg);
}

.ui-select ul>li {
    background: var(--ui-bg);
}

.ui-select ul>li.active, .calendar span.active {
    background: var(--hghlt);
    color: var(--contrast-font);
}

.calendar .day {
    border: 1px solid var(--shaded);
}

.calendar:focus .day {
    border-color: var(--hghlt);
}

.calendar span.current {
    font-weight: bold;
}

aside a {
    color: var(--contrast-font);
}

aside nav a:hover {
    background: var(--half-light);
}

aside nav a, button {
    transition: .1s background-color;
}

hr {
    border-bottom: 1px solid var(--half-light);
    border-top: 1px solid var(--half-dark);
    opacity: .2;
}

aside nav a.router-link-active {
    background: var(--main-bg);
    color: var(--main-font);
}

#modal-layer {
    background: var(--half-dark);
}

#modal-layer.active~#page {
    filter: blur(2px);
}

.window, .like-button {
    border: 1px solid var(--shaded);
    background: var(--ui-bg);
}

.like-button[disabled] {
    opacity: .5;
}

.window-head, .tip, .tag {
    background: var(--contrast-bg);
    color: var(--contrast-font);
    text-shadow: 1px 1px 0 var(--half-dark);
}

.tag {
    border-color: var(--contrast-bg);
}

.tag:hover {
    background: var(--hghlt);
    border-color: var(--hghlt);
}

.tag::before {
    border-right-color: inherit;
}

.tip {
    box-shadow: 0 0 5px var(--half-dark);
}

.tip:before {
    border-color: transparent transparent var(--contrast-bg) transparent;
}

option:checked {
    background: linear-gradient(var(--hghlt), var(--hghlt));
}

@keyframes loader {
    0% {background-position-x: 0;}
    100% {background-position-x: -99px;}
}

.loader {
    background: linear-gradient(135deg, rgba(128,128,128,.1) 0px, rgba(128,128,128,.1) 35px, transparent 35px, transparent 70px, rgba(128,128,128,.1) 70px, rgba(128,128,128,.1) 105px, transparent 105px);
    background-size: 99px 99px;
    background-clip: padding-box;
    animation: loader linear 1s infinite;
}

.rec-indicator {
    background: var(--half-light);
    position: absolute;
    left: 1em; top: 1em;
    padding: .5rem;
}

@keyframes flick {
    0% {opacity: 1}
    50% {opacity: 0}
}

.rec-indicator i {
    animation: flick 2s step-start infinite;
}

.yt-stat.active {
    background: var(--hghlt);
}